<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400265317102-24vdtc60563t2e6f490ugu7jaj2bn68h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400265317102-24vdtc60563t2e6f490ugu7jaj2bn68h</string>
	<key>API_KEY</key>
	<string>AIzaSyBNXW8UvOzCt1gm1WsXxVAIfZffaahBaHo</string>
	<key>GCM_SENDER_ID</key>
	<string>400265317102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tuwaiq-iosa.tuwaiq-academy</string>
	<key>PROJECT_ID</key>
	<string>tuwaiqacademy</string>
	<key>STORAGE_BUCKET</key>
	<string>tuwaiqacademy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400265317102:ios:61f0ed80057f3940f1c1ff</string>
</dict>
</plist>